.c0 {
  grid-area: c0;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.c5 {
  grid-area: c5;
}

.c6 {
  grid-area: c6;
}

.c7 {
  grid-area: c7;
}

.c8 {
  grid-area: c8;
}

.c9 {
  grid-area: c9;
}

.c10 {
  grid-area: c10;
}

.c11 {
  grid-area: c11;
}

.c12 {
  grid-area: c12;
}

.c13 {
  grid-area: c13;
}

.c14 {
  grid-area: c14;
}

.c15 {
  grid-area: c15;
}

.c16 {
  grid-area: c16;
}

.c17 {
  grid-area: c17;
}

.c18 {
  grid-area: c18;
}

.c19 {
  grid-area: c19;
}

.c20 {
  grid-area: c20;
}

.c21 {
  grid-area: c21;
}

.c22 {
  grid-area: c22;
}

.c23 {
  grid-area: c23;
}

.c24 {
  grid-area: c24;
}

.c25 {
  grid-area: c25;
}

.c26 {
  grid-area: c26;
}

.c27 {
  grid-area: c27;
}

.c28 {
  grid-area: c28;
}

.c29 {
  grid-area: c29;
}

.c30 {
  grid-area: c30;
}

.c31 {
  grid-area: c31;
}

.c32 {
  grid-area: c32;
}

.c33 {
  grid-area: c33;
}

.c34 {
  grid-area: c34;
}

.c35 {
  grid-area: c35;
}

.c36 {
  grid-area: c36;
}

.c37 {
  grid-area: c37;
}

.c38 {
  grid-area: c38;
}

.c39 {
  grid-area: c39;
}

.c40 {
  grid-area: c40;
}

.c41 {
  grid-area: c41;
}

.c42 {
  grid-area: c42;
}

.c43 {
  grid-area: c43;
}

.c44 {
  grid-area: c44;
}

.c45 {
  grid-area: c45;
}

.c46 {
  grid-area: c46;
}

.c47 {
  grid-area: c47;
}

.c48 {
  grid-area: c48;
}

.c49 {
  grid-area: c49;
}

.c50 {
  grid-area: c50;
}

.c51 {
  grid-area: c51;
}

.c52 {
  grid-area: c52;
}

.c53 {
  grid-area: c53;
}

.c54 {
  grid-area: c54;
}

.c55 {
  grid-area: c55;
}

.c56 {
  grid-area: c56;
}

.c57 {
  grid-area: c57;
}

.c58 {
  grid-area: c58;
}

.c59 {
  grid-area: c59;
}

.c60 {
  grid-area: c60;
}

.c61 {
  grid-area: c61;
}

.c62 {
  grid-area: c62;
}

.c63 {
  grid-area: c63;
}

.c64 {
  grid-area: c64;
}

.c65 {
  grid-area: c65;
}

.c66 {
  grid-area: c66;
}

.c67 {
  grid-area: c67;
}

.c68 {
  grid-area: c68;
}

.c69 {
  grid-area: c69;
}

.c70 {
  grid-area: c70;
}

.c71 {
  grid-area: c71;
}

.c72 {
  grid-area: c72;
}

.c73 {
  grid-area: c73;
}

.c74 {
  grid-area: c74;
}

.c75 {
  grid-area: c75;
}

.c76 {
  grid-area: c76;
}

.c77 {
  grid-area: c77;
}

.c78 {
  grid-area: c78;
}

.c79 {
  grid-area: c79;
}

.c80 {
  grid-area: c80;
}

.c81 {
  grid-area: c81;
}

.c82 {
  grid-area: c82;
}

.c83 {
  grid-area: c83;
}

.c84 {
  grid-area: c84;
}

.c85 {
  grid-area: c85;
}

.c86 {
  grid-area: c86;
}

.c87 {
  grid-area: c87;
}

.c88 {
  grid-area: c88;
}

.c89 {
  grid-area: c89;
}

.c90 {
  grid-area: c90;
}

.c91 {
  grid-area: c91;
}

.c92 {
  grid-area: c92;
}

.c93 {
  grid-area: c93;
}

.c94 {
  grid-area: c94;
}

.c95 {
  grid-area: c95;
}

.c96 {
  grid-area: c96;
}

.c97 {
  grid-area: c97;
}

.c98 {
  grid-area: c98;
}

.c99 {
  grid-area: c99;
}

.c100 {
  grid-area: c100;
}

.c101 {
  grid-area: c101;
}

.c102 {
  grid-area: c102;
}

.c103 {
  grid-area: c103;
}

.c104 {
  grid-area: c104;
}

.c105 {
  grid-area: c105;
}

.c106 {
  grid-area: c106;
}

.c107 {
  grid-area: c107;
}

.c108 {
  grid-area: c108;
}

.c109 {
  grid-area: c109;
}

.c110 {
  grid-area: c110;
}

.c111 {
  grid-area: c111;
}

.c112 {
  grid-area: c112;
}

.c113 {
  grid-area: c113;
}

.c114 {
  grid-area: c114;
}

.c115 {
  grid-area: c115;
}

.c116 {
  grid-area: c116;
}

.c117 {
  grid-area: c117;
}

.c118 {
  grid-area: c118;
}

.c119 {
  grid-area: c119;
}

.c120 {
  grid-area: c120;
}

.c121 {
  grid-area: c121;
}

.c122 {
  grid-area: c122;
}

.c123 {
  grid-area: c123;
}

.c124 {
  grid-area: c124;
}

.c125 {
  grid-area: c125;
}

.c126 {
  grid-area: c126;
}

.c127 {
  grid-area: c127;
}

.c128 {
  grid-area: c128;
}

.c129 {
  grid-area: c129;
}

.c130 {
  grid-area: c130;
}

.c131 {
  grid-area: c131;
}

.c132 {
  grid-area: c132;
}

.c133 {
  grid-area: c133;
}

.c134 {
  grid-area: c134;
}

.c135 {
  grid-area: c135;
}

.c136 {
  grid-area: c136;
}

.c137 {
  grid-area: c137;
}

.c138 {
  grid-area: c138;
}

.c139 {
  grid-area: c139;
}

.c140 {
  grid-area: c140;
}

.c141 {
  grid-area: c141;
}

.c142 {
  grid-area: c142;
}

.c143 {
  grid-area: c143;
}

.c144 {
  grid-area: c144;
}

.c145 {
  grid-area: c145;
}

.c146 {
  grid-area: c146;
}

.c147 {
  grid-area: c147;
}

.c148 {
  grid-area: c148;
}

.c149 {
  grid-area: c149;
}

.c150 {
  grid-area: c150;
}

.c151 {
  grid-area: c151;
}

.c152 {
  grid-area: c152;
}

.c153 {
  grid-area: c153;
}

.c154 {
  grid-area: c154;
}

.c155 {
  grid-area: c155;
}

.c156 {
  grid-area: c156;
}

.c157 {
  grid-area: c157;
}

.c158 {
  grid-area: c158;
}

.c159 {
  grid-area: c159;
}

.c160 {
  grid-area: c160;
}

.c161 {
  grid-area: c161;
}

.c162 {
  grid-area: c162;
}

.c163 {
  grid-area: c163;
}

.c164 {
  grid-area: c164;
}

.c165 {
  grid-area: c165;
}

.c166 {
  grid-area: c166;
}

.c167 {
  grid-area: c167;
}

.c168 {
  grid-area: c168;
}

.c169 {
  grid-area: c169;
}

.c170 {
  grid-area: c170;
}

.c171 {
  grid-area: c171;
}

.c172 {
  grid-area: c172;
}

.c173 {
  grid-area: c173;
}

.c174 {
  grid-area: c174;
}

.c175 {
  grid-area: c175;
}

.c176 {
  grid-area: c176;
}

.c177 {
  grid-area: c177;
}

.c178 {
  grid-area: c178;
}

.c179 {
  grid-area: c179;
}

.c180 {
  grid-area: c180;
}

.c181 {
  grid-area: c181;
}

.c182 {
  grid-area: c182;
}

.c183 {
  grid-area: c183;
}

.c184 {
  grid-area: c184;
}

.c185 {
  grid-area: c185;
}

.c186 {
  grid-area: c186;
}

.c187 {
  grid-area: c187;
}

.c188 {
  grid-area: c188;
}

.c189 {
  grid-area: c189;
}

.c190 {
  grid-area: c190;
}

.c191 {
  grid-area: c191;
}

.c192 {
  grid-area: c192;
}

.c193 {
  grid-area: c193;
}

.c194 {
  grid-area: c194;
}

.c195 {
  grid-area: c195;
}

.c196 {
  grid-area: c196;
}

.c197 {
  grid-area: c197;
}

.c198 {
  grid-area: c198;
}

.c199 {
  grid-area: c199;
}

.c200 {
  grid-area: c200;
}

.c201 {
  grid-area: c201;
}

.c202 {
  grid-area: c202;
}

.c203 {
  grid-area: c203;
}

.c204 {
  grid-area: c204;
}

.c205 {
  grid-area: c205;
}

.c206 {
  grid-area: c206;
}

.c207 {
  grid-area: c207;
}

.c208 {
  grid-area: c208;
}

.c209 {
  grid-area: c209;
}

.c210 {
  grid-area: c210;
}

.c211 {
  grid-area: c211;
}

.c212 {
  grid-area: c212;
}

.c213 {
  grid-area: c213;
}

.c214 {
  grid-area: c214;
}

.c215 {
  grid-area: c215;
}

.c216 {
  grid-area: c216;
}

.c217 {
  grid-area: c217;
}

.c218 {
  grid-area: c218;
}

.c219 {
  grid-area: c219;
}

.c220 {
  grid-area: c220;
}

.c221 {
  grid-area: c221;
}

.c222 {
  grid-area: c222;
}

.c223 {
  grid-area: c223;
}

.c224 {
  grid-area: c224;
}

.c225 {
  grid-area: c225;
}

.c226 {
  grid-area: c226;
}

.c227 {
  grid-area: c227;
}

.c228 {
  grid-area: c228;
}

.c229 {
  grid-area: c229;
}

.c230 {
  grid-area: c230;
}

.c231 {
  grid-area: c231;
}

.c232 {
  grid-area: c232;
}

.c233 {
  grid-area: c233;
}

.c234 {
  grid-area: c234;
}

.c235 {
  grid-area: c235;
}

.c236 {
  grid-area: c236;
}

.c237 {
  grid-area: c237;
}

.c238 {
  grid-area: c238;
}

.c239 {
  grid-area: c239;
}

.c240 {
  grid-area: c240;
}

.c241 {
  grid-area: c241;
}

.c242 {
  grid-area: c242;
}

.c243 {
  grid-area: c243;
}

.c244 {
  grid-area: c244;
}

.c245 {
  grid-area: c245;
}

.c246 {
  grid-area: c246;
}

.c247 {
  grid-area: c247;
}

.c248 {
  grid-area: c248;
}

.c249 {
  grid-area: c249;
}

.c250 {
  grid-area: c250;
}

.c251 {
  grid-area: c251;
}

.c252 {
  grid-area: c252;
}

.c253 {
  grid-area: c253;
}

.c254 {
  grid-area: c254;
}

.c255 {
  grid-area: c255;
}

.c256 {
  grid-area: c256;
}

.c257 {
  grid-area: c257;
}

.c258 {
  grid-area: c258;
}

.c259 {
  grid-area: c259;
}

.c260 {
  grid-area: c260;
}

.c261 {
  grid-area: c261;
}

.c262 {
  grid-area: c262;
}

.c263 {
  grid-area: c263;
}

.c264 {
  grid-area: c264;
}

.c265 {
  grid-area: c265;
}

.c266 {
  grid-area: c266;
}

.c267 {
  grid-area: c267;
}

.c268 {
  grid-area: c268;
}

.c269 {
  grid-area: c269;
}

.c270 {
  grid-area: c270;
}

.c271 {
  grid-area: c271;
}

.c272 {
  grid-area: c272;
}

.c273 {
  grid-area: c273;
}

.c274 {
  grid-area: c274;
}

.c275 {
  grid-area: c275;
}

.c276 {
  grid-area: c276;
}

.c277 {
  grid-area: c277;
}

.c278 {
  grid-area: c278;
}

.c279 {
  grid-area: c279;
}

.c280 {
  grid-area: c280;
}

.c281 {
  grid-area: c281;
}

.c282 {
  grid-area: c282;
}

.c283 {
  grid-area: c283;
}

.c284 {
  grid-area: c284;
}

.c285 {
  grid-area: c285;
}

.c286 {
  grid-area: c286;
}

.c287 {
  grid-area: c287;
}

.c288 {
  grid-area: c288;
}

.c289 {
  grid-area: c289;
}

.c290 {
  grid-area: c290;
}

.c291 {
  grid-area: c291;
}

.c292 {
  grid-area: c292;
}

.c293 {
  grid-area: c293;
}

.c294 {
  grid-area: c294;
}

.c295 {
  grid-area: c295;
}

.c296 {
  grid-area: c296;
}

.c297 {
  grid-area: c297;
}

.c298 {
  grid-area: c298;
}

.c299 {
  grid-area: c299;
}

.c300 {
  grid-area: c300;
}

.c301 {
  grid-area: c301;
}

.c302 {
  grid-area: c302;
}

.c303 {
  grid-area: c303;
}

.c304 {
  grid-area: c304;
}

.c305 {
  grid-area: c305;
}

.c306 {
  grid-area: c306;
}

.c307 {
  grid-area: c307;
}

.c308 {
  grid-area: c308;
}

.c309 {
  grid-area: c309;
}

.c310 {
  grid-area: c310;
}

.c311 {
  grid-area: c311;
}

.c312 {
  grid-area: c312;
}

.c313 {
  grid-area: c313;
}

.c314 {
  grid-area: c314;
}

.c315 {
  grid-area: c315;
}

.c316 {
  grid-area: c316;
}

.c317 {
  grid-area: c317;
}

.c318 {
  grid-area: c318;
}

.c319 {
  grid-area: c319;
}

.c320 {
  grid-area: c320;
}

.c321 {
  grid-area: c321;
}

.c322 {
  grid-area: c322;
}

.c323 {
  grid-area: c323;
}

.c324 {
  grid-area: c324;
}

.c325 {
  grid-area: c325;
}

.c326 {
  grid-area: c326;
}

.c327 {
  grid-area: c327;
}

.c328 {
  grid-area: c328;
}

.c329 {
  grid-area: c329;
}

.c330 {
  grid-area: c330;
}

.c331 {
  grid-area: c331;
}

.c332 {
  grid-area: c332;
}

.c333 {
  grid-area: c333;
}

.c334 {
  grid-area: c334;
}

.c335 {
  grid-area: c335;
}

.c336 {
  grid-area: c336;
}

.c337 {
  grid-area: c337;
}

.c338 {
  grid-area: c338;
}

.c339 {
  grid-area: c339;
}

.c340 {
  grid-area: c340;
}

.c341 {
  grid-area: c341;
}

.c342 {
  grid-area: c342;
}

.c343 {
  grid-area: c343;
}

.c344 {
  grid-area: c344;
}

.c345 {
  grid-area: c345;
}

.c346 {
  grid-area: c346;
}

.c347 {
  grid-area: c347;
}

.c348 {
  grid-area: c348;
}

.c349 {
  grid-area: c349;
}

.c350 {
  grid-area: c350;
}

.c351 {
  grid-area: c351;
}

.c352 {
  grid-area: c352;
}

.c353 {
  grid-area: c353;
}

.c354 {
  grid-area: c354;
}

.c355 {
  grid-area: c355;
}

.c356 {
  grid-area: c356;
}

.c357 {
  grid-area: c357;
}

.c358 {
  grid-area: c358;
}

.c359 {
  grid-area: c359;
}

.c360 {
  grid-area: c360;
}

.c361 {
  grid-area: c361;
}

.c362 {
  grid-area: c362;
}

.c363 {
  grid-area: c363;
}

.c364 {
  grid-area: c364;
}

.c365 {
  grid-area: c365;
}

.c366 {
  grid-area: c366;
}

.c367 {
  grid-area: c367;
}

.c368 {
  grid-area: c368;
}

.c369 {
  grid-area: c369;
}

.c370 {
  grid-area: c370;
}

.c371 {
  grid-area: c371;
}

.c372 {
  grid-area: c372;
}

.c373 {
  grid-area: c373;
}

.c374 {
  grid-area: c374;
}

.c375 {
  grid-area: c375;
}

.c376 {
  grid-area: c376;
}

.c377 {
  grid-area: c377;
}

.c378 {
  grid-area: c378;
}

.c379 {
  grid-area: c379;
}

.c380 {
  grid-area: c380;
}

.c381 {
  grid-area: c381;
}

.c382 {
  grid-area: c382;
}

.c383 {
  grid-area: c383;
}

.c384 {
  grid-area: c384;
}

.c385 {
  grid-area: c385;
}

.c386 {
  grid-area: c386;
}

.c387 {
  grid-area: c387;
}

.c388 {
  grid-area: c388;
}

.c389 {
  grid-area: c389;
}

.c390 {
  grid-area: c390;
}

.c391 {
  grid-area: c391;
}

.c392 {
  grid-area: c392;
}

.c393 {
  grid-area: c393;
}

.c394 {
  grid-area: c394;
}

.c395 {
  grid-area: c395;
}

.c396 {
  grid-area: c396;
}

.c397 {
  grid-area: c397;
}

.c398 {
  grid-area: c398;
}

.c399 {
  grid-area: c399;
}

.c400 {
  grid-area: c400;
}

.c401 {
  grid-area: c401;
}

.c402 {
  grid-area: c402;
}

.c403 {
  grid-area: c403;
}

.c404 {
  grid-area: c404;
}

.c405 {
  grid-area: c405;
}

.c406 {
  grid-area: c406;
}

.c407 {
  grid-area: c407;
}

.c408 {
  grid-area: c408;
}

.c409 {
  grid-area: c409;
}

.c410 {
  grid-area: c410;
}

.c411 {
  grid-area: c411;
}

.c412 {
  grid-area: c412;
}

.c413 {
  grid-area: c413;
}

.c414 {
  grid-area: c414;
}

.c415 {
  grid-area: c415;
}

.c416 {
  grid-area: c416;
}

.c417 {
  grid-area: c417;
}

.c418 {
  grid-area: c418;
}

.c419 {
  grid-area: c419;
}

.c420 {
  grid-area: c420;
}

.c421 {
  grid-area: c421;
}

.c422 {
  grid-area: c422;
}

.c423 {
  grid-area: c423;
}

.c424 {
  grid-area: c424;
}

.c425 {
  grid-area: c425;
}

.c426 {
  grid-area: c426;
}

.c427 {
  grid-area: c427;
}

.c428 {
  grid-area: c428;
}

.c429 {
  grid-area: c429;
}

.c430 {
  grid-area: c430;
}

.c431 {
  grid-area: c431;
}

.c432 {
  grid-area: c432;
}

.c433 {
  grid-area: c433;
}

.c434 {
  grid-area: c434;
}

.c435 {
  grid-area: c435;
}

.c436 {
  grid-area: c436;
}

.c437 {
  grid-area: c437;
}

.c438 {
  grid-area: c438;
}

.c439 {
  grid-area: c439;
}

.c440 {
  grid-area: c440;
}

.c441 {
  grid-area: c441;
}

.c442 {
  grid-area: c442;
}

.c443 {
  grid-area: c443;
}

.c444 {
  grid-area: c444;
}

.c445 {
  grid-area: c445;
}

.c446 {
  grid-area: c446;
}

.c447 {
  grid-area: c447;
}

.c448 {
  grid-area: c448;
}

.c449 {
  grid-area: c449;
}

.c450 {
  grid-area: c450;
}

.c451 {
  grid-area: c451;
}

.vr {
  display: grid;
  grid-template: '. . . . . . . . . . c1 c2 c3 c4 c5 . . . c6 c7 c8 c9 . c10 c11 c12 c13 . . . c14 c15 c16 c17 c18 . . . . . . . . . . ' '. . . . . . . . . c19 c20 c21 c22 c23 . . . c24 c25 c26 c27 c28 . c29 c30 c31 c32 c33 . . . c34 c35 c36 c37 c38 . . . . . . . . . ' '. . . . . . c39 c40 c41 c42 c43 c44 . . . c45 c46 c47 c48 c49 c50 c51 . c52 c53 c54 c55 c56 c57 c58 . . . c59 c60 c61 c62 c63 c64 . . . . . . ' '. . . . . c65 c66 c67 c68 c69 c70 . . . c71 c72 c73 c74 c75 c76 c77 c78 . c79 c80 c81 c82 c83 c84 c85 c86 . . . c87 c88 c89 c90 c91 c92 . . . . . ' '. . . . c93 c94 c95 c96 c97 c98 . . . c99 c100 c101 c102 c103 c104 c105 c106 c107 . c108 c109 c110 c111 c112 c113 c114 c115 c116 . . . c117 c118 c119 c120 c121 c122 . . . . ' '. . c123 c124 c125 c126 c127 c128 . . . c129 c130 c131 c132 c133 . . c134 c135 c136 c137 . c138 c139 c140 c141 . . c142 c143 c144 c145 c146 . . . c147 c148 c149 c150 c151 c152 . c153 ' '. . c154 c155 c156 c157 c158 . . c159 c160 c161 c162 c163 c164 . . c165 c166 c167 c168 c169 . c170 c171 c172 c173 c174 . . c175 c176 c177 c178 c179 c180 . . c181 c182 c183 c184 c185 . c186 ' '. . c187 c188 c189 . . . . c190 c191 c192 c193 c194 c195 . . c196 c197 c198 c199 c200 . c201 c202 c203 c204 c205 . . c206 c207 c208 c209 c210 c211 . . . . c212 c213 c214 . c215 ' '. . c216 c217 . . . c218 c219 c220 c221 c222 c223 c224 . . c225 c226 c227 c228 c229 c230 . c231 c232 c233 c234 c235 c236 . . c237 c238 c239 c240 c241 c242 c243 . . . c244 c245 . c246 ' '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ' 'c247 . . . . . c248 c249 c250 c251 c252 c253 c254 . . c255 c256 c257 c258 c259 c260 c261 . c262 c263 c264 c265 c266 c267 c268 . . c269 c270 c271 c272 c273 c274 c275 . . . . . c276 ' 'c277 . . . c278 c279 c280 c281 c282 c283 c284 c285 . . c286 c287 c288 c289 c290 c291 c292 c293 . c294 c295 c296 c297 c298 c299 c300 c301 . . c302 c303 c304 c305 c306 c307 c308 c309 . . . c310 ' 'c311 . . . . c312 c313 c314 c315 c316 c317 c318 . . c319 c320 c321 c322 c323 c324 c325 c326 . c327 c328 c329 c330 c331 c332 c333 c334 . . c335 c336 c337 c338 c339 c340 c341 . . . . c342 ' '. . . . . c343 c344 c345 c346 c347 c348 . . c349 c350 c351 c352 c353 c354 c355 c356 c357 . c358 c359 c360 c361 c362 c363 c364 c365 c366 . . c367 c368 c369 c370 c371 c372 . . . . c373 ' '. . . . . . . . c374 c375 . . c376 c377 c378 c379 c380 c381 c382 c383 c384 c385 . c386 c387 c388 c389 c390 c391 c392 c393 c394 c395 . . c396 c397 . . . . . . . . ' '. . . . . . . . . . . . . c398 c399 c400 c401 c402 c403 c404 c405 c406 . c407 c408 c409 c410 c411 c412 c413 c414 c415 . . . . . . . . . . . . . ' '. . . c416 c417 c418 c419 c420 c421 c422 . . . . . . . . . . . . . . . . . . . . . . . . . c423 c424 c425 c426 c427 c428 c429 . . . ' '. . . c430 c431 c432 c433 c434 c435 c436 . . . . . . c437 c438 c439 c440 . . . . . c441 c442 c443 c444 . . . . . . c445 c446 c447 c448 c449 c450 c451 . . . ';
  grid-template-columns: repeat(45, minmax(28px, 60px));
  grid-template-rows: repeat(18, minmax(40px, 40px));
}

.vr {
  grid-gap: 1px;
}

.chair {
  border: 1px solid black;
  border-radius: 4px;
}

/*# sourceMappingURL=styles.css.map */
